---
import KnowledgeGraph from "./KnowledgeGraph.astro";
---

<section
  id="hero"
  class="relative min-h-screen flex items-center pt-16 overflow-hidden"
>
  <KnowledgeGraph />

  <div
    class="max-w-[1440px] mx-4 sm:mx-8 md:mx-auto px-4 md:px-8 w-full z-10 pointer-events-none"
  >
    <div class="max-w-xl text-center md:text-left pointer-events-none">
      <div class="mb-8 select-none">
        <img
          src="/signature.png"
          alt="Signature"
          class="h-36 md:h-52 rotate-[5deg] w-auto dark:invert opacity-90 hover:opacity-100 transition-all duration-500 hover:scale-105 cursor-default mx-auto -my-16 md:mx-0"
        />
      </div>
      <h1
        class="text-3xl md:text-7xl font-mono font-bold tracking-tighter mb-4"
      >
        Debarka Mondal
      </h1>
      <h2 class="text-xl md:text-2xl text-accent mb-6">Software Engineer</h2>
      <p class="text-lg md:text-xl mb-10 text-text/80">
        <q
          >Learning is a journey, certainty slows you down,
          <br />
          <span class="ml-2">Doubt keeps you moving.</span>
        </q>
      </p>
      <div class="pointer-events-auto">
        <button
          id="explore-btn"
          class="border border-text px-8 py-3 font-mono text-sm hover:bg-text hover:text-bg transition-all duration-300 relative overflow-hidden group"
        >
          <span class="relative z-10">Expore KnowledgeGraph</span>
        </button>
      </div>
    </div>
  </div>
</section>

<script>
  const exploreBtn = document.getElementById("explore-btn");

  exploreBtn?.addEventListener("click", () => {
    // Call the global function defined in KnowledgeGraph.astro
    if (window.toggleGraphInteractivity) {
      window.toggleGraphInteractivity();
    }
  });
</script>
